@use '../../shared/mixins/flex' as flex_mixins;

.control-arrows {
    @include flex_mixins.center_j_d(space-between);
    width: clamp(66px, 40%, 75px);

    & > img {
        width: clamp(28px, 50%, 32px);
        aspect-ratio: 1 / 1;
    }
}

@media (hover: hover) {
    .control-arrows > img:hover {
        cursor: pointer;
    }
}
