@use '../../../shared/mixins/flex' as flex_mixins;
@use '../../../shared/extends/flex';

@media screen and (min-width: 768px) and (max-width: 1023px) {
    main {
        @include flex_mixins.center_j_d(initial);
        padding: 30px 0px 0px 30px;
        height: 92vh;

        align-items: initial;
    }
    #main_content {
        overflow-y: scroll;
        scrollbar-width: none;
        width: 100%;
        &_authorContent {
            display: flex;
            flex-direction: column;
            & > span {
                text-decoration: underline;
            }
        }
        &_recommended {
            display: flex;
            flex-direction: column;
            margin-top: 47px;
        }
        &_other {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
        }
    }
    .section_infHeader {
        width: 91%;
        margin-bottom: 29px;
        color: rgb(25, 32, 44);

        font-size: var(--font_26);
        font-weight: 700;
        @include flex_mixins.center_j_d(space-between);
        & > * {
            cursor: pointer;
        }
    }
    .section_inf {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // width: 50px;
        &_topicName {
            &:hover {
                text-decoration: underline;
            }
        }
        &_authorLogo {
        }
        &_authorName {
            margin-left: 20px;
            font-size: 26px;
            font-weight: bold;
            &:hover {
                text-decoration: underline;
            }
        }
        &_author_infForUser {
            color: rgb(194, 194, 194);
            margin-top: 7px;
            margin-left: 20px;
            font-size: var(--font_16);
        }
    }
    .control-arrows {
        display: none;
        align-self: flex-end;
    }
    .small_videos {
        & > div:not(:first-child) {
            margin-left: 40px;
        }
        display: flex;
        scrollbar-width: none;
        overflow-x: scroll;
    }
    .big_videos {
        & > div:not(:first-child) {
            margin-left: 40px;
        }
        display: flex;
        scrollbar-width: none;
        overflow-x: scroll;
    }

    .other_options {
        align-self: flex-end;
        @include flex_mixins.center_j_d(flex-end);
    }
    .other_subscribe_button {
        background-color: red;
        cursor: pointer;
        color: white;

        text-align: center;
        font-size: var(--font_16);
        border-radius: 20px;
        width: clamp(160px, 3vw, 230px);
        aspect-ratio: 154 /40;
    }
}
