@use '../../shared/mixins/flex' as flex_mixins;
@use '../../shared/extends/flex';

@media screen and (min-width: 1440px) {
    footer {
        // display: none;
        height: 10px;
        background-color: white;
    }
    #footer_icons {
        display: none;
    }
}
