@use '../../shared/mixins/flex' as flex_mixins;
@use '../../shared/extends/flex';

@media screen and (min-width: 1440px) {
    footer {
        // display: none;
        height: 40px;

        background-color: white;
        display: none;
    }
    #footer_icons {
    }
}
