*,
*::before,
*::after {
   all: unset;
   box-sizing: border-box;
}
title {
   display: none;
}

ul[class],
ol[class] {
   padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

body {
   min-height: 100vh;
   scroll-behavior: smooth;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
}

ul[class],
ol[class] {
   list-style: none;
}

a:not([class]) {
   text-decoration-skip-ink: auto;
}

img {
   max-width: 100%;
   display: block;
}

article > * + * {
   margin-top: 1em;
}

input,
button,
textarea,
select {
   font: inherit;
}

@media (prefers-reduced-motion: reduce) {
   * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}

:root{--font_26: 26px;--font_18: 18px;--font_16: 16px;--font_13: 13px}html{width:100vw;font-family:"Mulish",sans-serif}body{width:100%;background:#fff;display:flex;align-items:center;justify-content:space-between;flex-direction:column}body>*{width:100%}
#header_firstPart_menu{aspect-ratio:20/17}#header_firstPart_appLogo{aspect-ratio:116/25}#header_secondPart_wrapper_otherLogos{aspect-ratio:175/32}#header_secondPart_wrapper_userIcon{aspect-ratio:1/1}#search_container_field{aspect-ratio:830/44}#search_container_logo{aspect-ratio:1/1}.section_navigation{aspect-ratio:66/28}.small_video{aspect-ratio:250/200}.big_video{aspect-ratio:540/300}.other_subscribe_button{aspect-ratio:154/40}

@media screen and (max-width: 767px){header{padding:10px 16px 10px 16px;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_firstPart{display:flex;align-items:center;justify-content:center;flex-direction:row}#header_firstPart_menu{display:none}#header_firstPart_appLogo{width:clamp(100px,20vw,140px)}#header_secondPart{width:clamp(60px,30vw,150px);display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_secondPart_wrapper_otherLogos{display:none}#header_secondPart_wrapper_userIcon{width:clamp(15px,15vw,50px)}#search_container{display:flex;align-items:center;justify-content:center;flex-direction:row}#search_container_field{display:none}#search_container_logo{width:clamp(10px,8vw,20px)}}@media screen and (max-width: 200px){#header_firstPart{width:100%;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_firstPart_menu{display:initial}#header_secondPart{display:none}}



@media screen and (min-width: 768px)and (max-width: 1023px){header{padding:10px 16px 10px 16px;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_firstPart{width:21%;max-width:180px;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_secondPart{width:75%}#header_secondPart_wrapper{display:none}#search_container{position:relative;width:100%;display:flex;align-items:center;justify-content:initial;flex-direction:row}#search_container_field{width:inherit;height:inherit;padding:12px 0 12px 23px;font-size:var(--font_16);border-radius:22px;background:#ebebeb;opacity:.3}#search_container_logo{position:absolute;right:18px;width:18.21px}}



@media screen and (min-width: 1024px)and (max-width: 1439px){header{padding:10px 16px 10px 16px;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_firstPart{width:14%;min-width:160px;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_secondPart{width:80%;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_secondPart_wrapper_otherLogos{display:none}#search_container{position:relative;width:90%;display:flex;align-items:center;justify-content:initial;flex-direction:row}#search_container_field{width:inherit;height:inherit;padding:12px 0 12px 23px;font-size:var(--font_16);border-radius:22px;background:#ebebeb;opacity:.3}#search_container_logo{position:absolute;right:13%;width:18.21px}}



@media screen and (min-width: 1440px){header{padding:20px 70px 20px 31.86px;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_firstPart{width:12%;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_firstPart_menu{width:clamp(20px,4vw,30px)}#header_firstPart_appLogo{width:clamp(116px,4vw,150px)}#header_secondPart{width:82%;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_secondPart_wrapper{width:31%;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_secondPart_wrapper_otherLogos{width:50%;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_secondPart_wrapper_userIcon{width:clamp(40px,4vw,50px)}#search_container{position:relative;width:55%;display:flex;align-items:center;justify-content:initial;flex-direction:row}#search_container_field{width:100%;height:inherit;padding:12px 0 12px 23px;font-size:var(--font_16);border-radius:22px;background:#ebebeb;opacity:.3}#search_container_logo{position:absolute;right:18px;width:18.21px}}



@media screen and (width: 320px){header{padding:10px 16px 10px 16px;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_firstPart_menu{display:none}#header_firstPart_appLogo{width:116px}#header_secondPart{width:73px;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_secondPart_wrapper_otherLogos{display:none}#header_secondPart_wrapper_userIcon{width:30px}#search_container_field{display:none}#search_container_logo{width:19px}}



@media screen and (width: 1920px){header{padding:20px 70px 20px 31.86px;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_firstPart{width:164.14px;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_firstPart_menu{width:20px}#header_firstPart_appLogo{width:116px}#header_secondPart{width:1595px;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_secondPart_wrapper{width:260px;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_secondPart_wrapper_otherLogos{width:170px;display:flex;align-items:center;justify-content:space-between;flex-direction:row}#header_secondPart_wrapper_userIcon{width:40px}#search_container{position:relative;width:830px;display:flex;align-items:center;justify-content:initial;flex-direction:row}#search_container_field{width:inherit;height:inherit;padding:12px 0 12px 23px;font-size:var(--font_16);border-radius:22px;background:#ebebeb;opacity:.3}#search_container_logo{position:absolute;right:18px;width:18.21px}}



