*,
*::before,
*::after {
   all: unset;
   box-sizing: border-box;
}
title {
   display: none;
}

ul[class],
ol[class] {
   padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

body {
   min-height: 100vh;
   scroll-behavior: smooth;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
}

ul[class],
ol[class] {
   list-style: none;
}

a:not([class]) {
   text-decoration-skip-ink: auto;
}

img {
   max-width: 100%;
   display: block;
}

article > * + * {
   margin-top: 1em;
}

input,
button,
textarea,
select {
   font: inherit;
}

@media (prefers-reduced-motion: reduce) {
   * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}

:root{--font_26: 26px;--font_18: 18px;--font_16: 16px;--font_13: 13px}html{width:100vw;font-family:"Mulish",sans-serif}body{width:100%;background:#fff;display:flex;align-items:center;justify-content:space-between;flex-direction:column}body>*{width:100%}
#header_firstPart_menu{aspect-ratio:20/17}#header_firstPart_appLogo{aspect-ratio:116/25}#header_secondPart_wrapper_otherLogos{aspect-ratio:175/32}#header_secondPart_wrapper_userIcon{aspect-ratio:1/1}#search_container_field{aspect-ratio:830/44}#search_container_logo{aspect-ratio:1/1}.section_navigation{aspect-ratio:66/28}.small_video{aspect-ratio:250/200}.big_video{aspect-ratio:540/300}.other_subscribe_button{aspect-ratio:154/40}
























